[Unit]
Description=DynIPSet service
Requires=network.target network-online.target
After=network.target network-online.target dynipset.target
Upholds=dynipset.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /opt/dynipset/dynipset.sh

[Install]
WantedBy=dynipset.target
